* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.logo {
	height: 270px;
}

.home {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-top: 137px;
}

.home__subtitle {
	font-family: Arial;
	font-size: 23px;
	color: black;
	margin-top: 26px;
	font-weight: bold;
}
.initBtn:hover {
	cursor: pointer;
	background-color: blueviolet;
}

.initBtn {
	display: flex;
	text-align: center;
	margin: auto;
	justify-content: center;
	padding: 17px;
	font-family: Arial;
	font-weight: bold;
	color: white;
	font-size: 27px;
	border-radius: 120px;
	background-color: rgb(12, 24, 196);
	margin-top: 50px;
}

.search {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.marca {
	display: flex;
	justify-content: center;
}
.header {
	display: flex;
	font-family: Arial;
	color: black;
	justify-content: space-around;
}

#marca {
	max-width: 50%;
}

#searchInput {
	padding: 8px;
	margin: 22px;
	width: 34%;
	border: 2px #1c1c1c solid;
	border-radius: 10px;
	outline: none;
}

.backBtn {
	font-family: Arial;
	color: white;
	font-size: 18px;
	font-weight: bold;
	width: 55px;
	background-color: red;
	border-radius: 10px;
	height: 34px;
}

.backBtn:hover {
	cursor: pointer;
	background-color: blueviolet;
}

#searchBook {
	margin: auto;
	font-size: 20px;
	font-family: Arial;
	color: white;
	width: 99px;
	background-color: blue;
	border-radius: 9px;
	height: 34px;
	font-weight: bold;
}

#searchBook:hover,
.returnBtn:hover {
	cursor: pointer;
	background-color: blueviolet;
}

.returnBtn {
	visibility: hidden;
	font-size: 20px;
	font-family: Arial;
	color: white;
	width: 99px;
	background-color: blue;
	border-radius: 9px;
	height: 34px;
	font-weight: bold;
}

.header__btn {
	display: flex;
	width: 200px;
	justify-content: space-around;
}

#searchResult {
	margin-top: 37px;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: #b13d3d;
	text-align: center;
	width: 100vw;
	padding: 0.2em;
	color: white;
	font-weight: bold;
	font-family: Arial;
}

footer a {
	color: white;
}

.eachBook {
	margin: 0 auto;
	width: 550px;
	display: flex;
	font-family: Arial;
	padding: 20px;
	justify-content: space-around;
}

.details__title {
	margin-bottom: 10px;
	font-size: 1.8em;
}

.aut__publ {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: left;
	padding: 0 40px;
}

.details__author,
.details__publisher {
	font-size: 1.2em;
	margin-bottom: 10px;
	font-size: 1.3em;
}

#book {
	height: 150px;
	border: 2px #efefef solid;
}

#details {
	background-color: #efefef;
	width: 350px;
	height: 150px;
	overflow: hidden;
	padding: 10px;
}

.bookTemplate{
	width: 550px;
	margin: 0 auto;
}

.moreInfo {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
}

.bookInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	font-size: 20px;
	width: 400px;
	background-color: #efefef;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.bookInfo p {
	margin-bottom: 10px;
}

.extraInfo {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	/* padding: 0 31px; */
	width: 550px;
	margin-top: 18px;
	margin-bottom: 18px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.storesInfo,
.bookLocation {
	background-color: #efefef;
	text-align: left;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	width: 48%;
}

/* .storesInfo {
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
}

.bookLocation {
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
} */

.storesInfo h2,
.bookLocation h2 {
	text-align: center;
	margin-bottom: 10px;
}

.storesInfo p,
.bookLocation p {
	margin-bottom: 10px;
}

.bookDescription {
	background-color: #efefef;
	text-align: left;
	font-size: 20px;
	width: 550px;
	margin: 0 auto 70px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#description {
	margin-bottom: 10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#bookName {
	margin-bottom: 20px;
	font-size: 45px;
	font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 800px) {
	.marca {
		display: flex;
		justify-content: center;
	}
}
